body{
    margin: 0;
    padding: 0;
}
.div1{
    background-color: rgb(44, 44, 44); color: white;
    border-radius: 10px;
    margin: 20px;
    width: 900px;
    height: 100px;
    text-align: right;
}
.div2{
    background-color: rgb(44, 44, 44); color: white;
    border: solid red;
    margin: 20px;
    width: 900px; 
    height: 150px;
    overflow:scroll;
    overflow-x: hidden;
}
.div2 p{
    margin-top: 15px;
    margin-left: 15px;
}