body{
    background-color: grey;
}

.div1{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 0px;
}

.div2{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 210px;
}

.div3{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 0px;
    top: 420px;
}

.div4{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 210px;
    top: 0px;
}

.div5{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 420px;
    top: 0px;
}

.div6{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    left: 210px;
    top: 210px;
}


.div7{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 0px;
    bottom: 0px;
}

.div8{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 210px;
    bottom: 0px;
}

.div9{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 420px;
    bottom: 0px;
}

.div10{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 0px;
    bottom: 210px;
}

.div11{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 0px;
    bottom: 420px;
}

.div12{
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 200px;
    height: 200px;
    right: 210px;
    bottom: 210px;
}