body {
    background-color: rgb(190, 190, 190);
    margin: 0;
    padding: 0;
}

.box1{
    background-color: blue;
    position: fixed;
    height: 500px;
    width: 500px;
    left: 678px;
    top: 220px;
}

.box2{
    background-color: red;
    position: fixed;
    height: 400px;
    width: 400px;
    left: 726px;
    top: 273px;
}

.box3{
    background-color: black;
    position: fixed;
    width: 250px;
    height: 250px;
    left: 800px;
    top: 348px;
}

.box4{
    background-color: green;
    position: fixed;
    width: 100px;
    height: 100px;
    left: 873px;
    top: 427px;
}

.box5{
    background-color: yellow;
    position: fixed;
    width: 50px;
    height: 50px;
    left: 898px;
    top: 455px;
}